<div id="<%= dom_id article %>">
  <p>
    <strong><%= Article.human_attribute_name("title") %></strong>
    <%= article.title %>
  </p>

  <p>
    <strong><%= Article.human_attribute_name("description")%></strong>
    <%= article.description %>
  </p>

</div>


